<%= form_for(@kpt) do |f| %>
  <% if @kpt.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@kpt.errors.count}件のエラー" %> が発生しているため保存しませんでした。</h2>

      <ul>
      <% @kpt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :hit %><br />
    <%= f.check_box :hit %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :cols => 30, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :iteration_id %><br />
    <%= f.text_field :iteration_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
