<%= form_for(@kpt) do |f| %>
  <% if @kpt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kpt.errors.count, "error") %> prohibited this kpt from being saved:</h2>

      <ul>
      <% @kpt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :hit %><br />
    <%= f.check_box :hit %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :iteration_id %><br />
    <%= f.number_field :iteration_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
