<span><%= notice %></span>
<span id="title">KPT List</span>
<span id="act"><%= link_to '新しいKPTを作る', new_kpt_path %></span>
<table>
<% @kpts.each do |kpt| %>
  <ul>
    <%= kpt.parent_id %>
    <%= link_to kpt.category, edit_kpt_path(kpt) %>
    <%= kpt.hit %>
    <%= kpt.body %>
    <%= kpt.iteration_id %>
    <%= link_to '削除', kpt, confirm: 'Are you sure?', method: :delete %>
  </ul>
<% end %>
</table>
