<h2>KPT一覧</h2>
<%= link_to '新しいKPTを作る', new_kpt_path %>
<br />
<br />
<table>
  <tr>
    <th>関連KPT</th>
    <th>カテゴリ</th>
    <th>Hit</th>
    <th>本文</th>
    <th>イテレーション</th>
    <th></th>
  </tr>

<% @kpts.each do |kpt| %>
  <tr>
    <td><%= kpt.parent_id %></td>
    <td><%= link_to kpt.category, edit_kpt_path(kpt) %></td>
    <td><%= kpt.hit %></td>
    <td><%= kpt.body %></td>
    <td><%= kpt.iteration_id %></td>
    <td><%= link_to '削除', kpt, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
