<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@project.errors.count}件のエラー" %> が発生しているため保存しませんでした。</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'プロジェクト名' %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :iterations do |i| %>
    <div class="field">
      <ul>
        <%= i.label 'イテレーション名：' %>
        <%= i.text_field :name %>
        <%= link_to '削除', edit_project_path(@project) , {confirm: 'ほんとに削除していいですか？', method: :delete}  %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
