<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@project.errors.count}件のエラー" %> が発生しているため保存しませんでした。</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @project.name.nil? || @project.name.empty?  %>
      <%= f.label 'プロジェクト名' %><br />
      <%= f.text_field :name %>
    <% end %>
  </div>

    <%= f.fields_for :iterations do |i| %>
      <%= i.text_field :name, :size => 15 %><br />
      <%= i.date_select :start_date %> To
      <%= i.date_select :exit_date %>
      <br />
      <br />
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
