<% @project.tags.build  %>
<%= form_for(@project) do |project_form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@project.errors.count}件のエラー" %> が発生しているため保存しませんでした。</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= project_form.label 'プロジェクト名' %><br />
      <%= project_form.text_field :name %>
  </div>
  <h2>Tags</h2>
  <%= render :partial => 'tags/form',
             :locals => {:form => project_form} %>
  <div class="actions">
    <%= project_form.submit %>
  </div>
<% end %>
