<% @project.tags.build  %>
<% @project.iteration = Iteration.new  %>

<%= form_for @project do |project_form| %>
<% @test = project_form  %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@project.errors.count}件のエラー" %> が発生しているため保存しませんでした。</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= project_form.label :name, 'プロジェクト名' %><br />
      <%= project_form.text_field :name %>
  </div>
 
  <h2>Iteration</h2>

  <%= render :partial => 'iterations/form' %>
  <%#= render :partial => 'iterations/form',
    :locals => {:project_form => @test } %>
             
  <h2>Tags</h2>
  <%= render :partial => 'tags/form',
             :locals => {:form => project_form} %>
  <div class="actions">
    <%= project_form.submit %>
  </div>

  <%= link_to( 'create new project!', projects_path,  method: :post ) %> 

  <%= debug @project %>
<% end %>
