<h2>プロジェクト一覧</h2>
<%= link_to '新しいプロジェクトを作る', new_project_path %>
<br />
<br />

<% @projects.each do |project| %>
  <%= link_to project.name, edit_project_path(project) %>
  |  <%= link_to '削除', project, confirm: 'Are you sure?', method: :delete %>
    <ul>
      <%project.iterations.each do |iteration| %>
        <li><%= link_to iteration.name, edit_iteration_path(iteration) %>
        |  <%= link_to '削除',iteration,confirm: 'Are you sure?', method: :delete  %></li>
      <% end %>
      <%= link_to '追加', new_iteration_path %>
    </ul>
    <br />
<% end %>
