<h2>プロジェクト一覧</h2>
<%= link_to '新しいプロジェクトを作る', new_project_path %>
<br />
<br />
<table>
  <tr>
    <th>プロジェクト名</th>
    <th>作成日</th>
    <th>更新日</th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, edit_project_path(project) %></td> 
    <td><%= project.created_at.strftime("%H:%M (%y/%m/%d)") %></td> 
    <td><%= project.updated_at.strftime("%H:%M (%y/%m/%d)") %></td>
   <td><%= link_to '削除', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
