<p id="notice"><%= notice %></p>

<p>
  <b>プロジェクト:</b>
  <%= @project.name %>
  <br />
  <ul>
    <% @project.iterations.each do |i| %>
      <li><%= i.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to '編集する', edit_project_path(@project) %> |
<%= link_to '一覧に戻る', projects_path %> |
<%= link_to 'プロジェクトを削除する', @project, confirm: 'ほんとに削除していいですか?', method: :delete %>

