<p id="notice"><%= notice %></p>

<p>
  <b>プロジェクト:</b>
  <%= @project.name %>
  <br />
  <ul>
    <% @project.iterations.each do |i| %>
      <li><%= i.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
