<p id="notice"><%= notice %></p>

<p>
  <b>プロジェクト:</b>
  <%= @project.name %>
</p>

<h2>Iterations:</h2>
<%= render @project.iterations %>

<h2>Add a Iteration:</h2>
<%= render "iterations/form" %>

<br />
<%= link_to '編集する', edit_project_path(@project) %> |
<%= link_to '一覧に戻る', projects_path %> |
<%= link_to 'プロジェクトを削除する', @project, confirm: 'ほんとに削除していいですか?', method: :delete %>

