<%= form_for(@iteration) do |f| %>
  <% if @iteration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iteration.errors.count, "error") %> prohibited this iteration from being saved:</h2>

      <ul>
      <% @iteration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% # TODO: 追加ボタンの、new呼び出しに対応させる %>
  <%= field_set_tag 'プロジェクト情報' do %>
    <% fields_for @iteration.project do |pi| %>
      <div class="field">
        <%= pi.label :name, 'プロジェクト名：　'  %>
        <%= pi.label :name, @iteration.project.name %><br />
      </div>
    <% end %>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :exit_date %><br />
    <%= f.date_select :exit_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
