<%= form_for([@project,@project.iterations.build]) do |f| %>
  <div class="field">
   <%= f.label :name %>
   <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :exit_date %><br />
    <%= f.date_select :exit_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
