<h2>イテレーション一覧</h2>
<table>
  <tr>
    <td>プロジェクトID</td>
    <td>イテレーション名</td>
    <td>ステータス</td>
    <td>開始日</td>
    <td>終了日</td>
  </tr>
  <% @iterations.each do |iteration| %>
    <tr>
      <td><%= iteration.project_id %></td>
      <td><%= iteration.name %></td>
      <td><%= iteration.status %></td>
      <td><%= iteration.start_date %></td>
      <td><%= iteration.exit_date %></td>
    </tr>
  <% end %>

</table>
