<p id="notice"><%= notice %></p>

<%= render @iteration  %>

KPTS....

<%= render @iteration.kpts  %>

<%= link_to 'Edit', ['edit', @iteration.project, @iteration] %> |
<%= link_to 'Back', @iteration.project %>
