<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @iteration.name %>
</p>

<p>
  <b>Status:</b>
  <%= @iteration.status %>
</p>

<p>
  <b>Start date:</b>
  <%= @iteration.start_date %>
</p>

<p>
  <b>Exit date:</b>
  <%= @iteration.exit_date %>
</p>

KPTS....
<%= 'Edit' %> |
<%= 'Back' %>
