<!DOCTYPE html>
<html>
<head>
  <title>kptlog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" \>
</head>
<body>
<img src="/logo.png" />
<hr>
<h4>
  <%= link_to('KPT',{:controller => 'kpts', :action => 'index'}) %>
  <%= link_to('イテレーション',{:controller => 'iterations', :action => 'index'}) %>
  <%= link_to('プロジェクト',{:controller => 'projects', :action => 'index'}) %>
</h4>
<hr>

<%= yield %>

<br>
<br>
<hr>
<h4><%= link_to('githubリポジトリを見る','http://github.com/tetuyoko/kptlog') %></h4>
</body>
</html>
