<!DOCTYPE html>
<html>
<head>
  <title>KPTlog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <%= image_tag "logo.png", :mouseover => image_path("MouseOver.png") %>
<hr>

<%= yield %>

<br>
<br>
<hr>
<%= link_to('プロジェクト', 'projects') %>
<%= link_to('githubリポジトリを見る','http://github.com/tetuyoko/kptlog') %>
</body>
</html>
