<!DOCTYPE html>
<html>
<head>
  <title>KPTlog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <%= image_tag "logo.png", :mouseover => image_path("MouseOver.png") %>
<hr>
<h4>
  <%= link_to('KPT',{:controller => 'kpts', :action => 'index'}) %>
  <%= link_to('プロジェクト',{:controller => 'projects', :action => 'index'}) %>
</h4>
<hr>

<%= yield %>

<br>
<br>
<hr>
<h4><%= link_to('githubリポジトリを見る','http://github.com/tetuyoko/kptlog') %></h4>
</body>
</html>
